<footer class="page-footer white lighten-4 z-depth-5">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="black-text">How does it work?</h5>
        <p class="black-text text-lighten-4"> Search your favorite team above, from here you will be guided to your favorite teams page! </p>
        <p class="black-text text-lighten-4"> Please feel free to sign in! Using Facebook or your own profile! We use Gravitar Avatars!</p>


      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="black-text">Social</h5>
        <ul>
          <li><a class="black-text text-lighten-3" href="https://en.gravatar.com/">Gravitar</a></li>
          <li><a class="black-text text-lighten-3" href="#!">Facebook</a></li>
          <li><a class="black-text text-lighten-3" href="#!">Google+</a></li>
          <li><a class="black-text text-lighten-3" href="#!">Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <p class= "black-text">
        © 2015 @hellostella
        <%= link_to " About Me", "http://hellostella.github.io/", :class => "black-text " %>
      </p>
    </div>
  </div>
</footer>
