<div>

</div>

<style>

body {
background-image: url('<%= @team.image_url %>');
background-size: cover;
color: white;
}

</style>

<footer class="page-footer black lighten-20 z-depth-10">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h4><%= @team.city %> <%= @team.name %> </h4>
        <p class="white-text text-lighten-4"> <%= @team.stadium %> </p>

        </p>
      </div>
    </div>
  </div>
