@import "materialize";

body {
    background: url(http://miriadna.com/desctopwalls/images/max/Madison-Square-Garden.jpg);
    background-size: cover;
    width: 100%;
    height: 50%;
    color: black;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    text-align: left;
  }

  main {
    flex: 1 0 auto;
  }

// #main-search {
//   text-align: center;
//   color: white;
//   border-bottom: white;
// }

body a {
  color: white;
}
